<!doctype html>
<html>
    
<head>
    <head>
        <% include ./includes/head %>
    </head>
</head>

<body>
    <div class= "Container">
        <% include ./includes/header %> 
        <div>     
            <div class="row">
                <div class="col s12 m6">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Mês vigente</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Próximos Pagamentos</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div> <!-- .row-->
            <div class="row">
                <div class="col s12 m6">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Pagamentos Atrasados</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Pagamentos Realizados</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div> <!-- .row-->
        </div>      
        <% include ./includes/footer %>
        </div> 
</body>    
</html>